.calendar_admin_section{

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar_admin_container{
    width: 90vw;
}

.btn-volver {
    background: #2e2e2e;
    color: #f2f2f2;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    margin-top: 1.5rem;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    border: .3px solid #f2f2f2;
    width: 100%;
    transition: .2s;
}

.btn-volver:hover {
    background: #f2f2f2;
    color: #2e2e2e;
    opacity: 0.7;
    font-weight: 500;
}