.formVacation{
    /* display: block; */
    min-width: 12rem ;
    margin-right: 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background: red; */
    /* transition: .3s; */
    /* background: green; */
}



.hiddenForm{
    /* background: red; */
    display: none;
    transition: .3s;
}

.input_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px 2px;
}

.input_container .date_input{
    padding: 10px;
    border-radius: 8px;
    border: .5px #888;
    background: #c2c2c2;
    outline: none;
}



.button_container{
    justify-content: center;
}

/* .button_container input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
} */

.button_form{
    transition: .3s;
    background: #a1a1a1;
    border: none;
    width: 80%;
    padding: 10px;

    color: #f1f1f1;
    border-radius: 10px;
}


.button_form_available{
    transition: .3s;
    background: #61D095;
    border: none;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 10px;
}

.button_form_available:hover{
    transition: .3s;
    background: #32b46f;
    border: none;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 10px;
}


