.b_custom{
    background: #2e2e2e !important;
    /* color: #f0f0f0 !important; */
}
.toggler_color_custom{
    color: white !important;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh !important;
    padding:1rem;
    font-family: 'Poppins', sans-serif;
}

.header .menu_responsive{
    display: none;
}

.header .img_container{
    width: 10vh;
}

.header .img_container img{
    width: 100%;
}

.header .nav_container{
    width: 80%;
    height: 100%;
    /* background: blue; */
    display: flex;
    justify-content: end;
}


.routes_links_container{
    /* background: red; */
    width: auto;
    height: 100%;
    min-width: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header .nav_container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    display: flex;
    align-items: center;
    /* background: pink; */
    padding: 0 .4rem;
}

.header .nav_container ul li{
    list-style: none;
}   


.header .nav_container ul li a{
    text-decoration: none;
    color: #f2f2f2 !important;
    font-weight: 400;
    font-size: 1.2rem;
    position: relative;
}
.header .nav_container ul li a:hover{
    cursor: pointer;
}
.header .nav_container ul li a::before{
    content: "";
    position: absolute;
    width: 100%;
    background: #f2f2f2;
    height: 2px;
    border-radius: 6px;
    bottom: -4px;
    transform: scale(0);
    transition: .3s;
}


.header .nav_container ul li a:hover:before{
    transform: scale(1.1);
}

@media screen and (max-width: 1140px) {
    .header .nav_container ul li a{
       font-size: .8rem;
    }
}

@media screen and (max-width: 940px) {
    .header{
        height: 8vh;
    }

  

    .header .nav_container ul{
       background: red;
    }

    .header .nav_container{
        background: rgb(92, 224, 147);
     }

    .header .menu_responsive{
        display: block;
        color: #f2f2f2;
    }

    .header .nav_container{
        display: none;
    }

    .header .menu_responsive .routes_links_container_responsive{
        position: absolute;
        background: #2e2e2e;
        top: 12vh;
        display: none;
        left: 0;
        width: 100vw;
        height: 12vh;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        animation: menu .3s;
        z-index: 1000;
    }

    .header .menu_responsive .routes_links_container_responsive li{
        list-style: none;
        width: 100%;
        text-align: center;
    }

    .header .menu_responsive .routes_links_container_responsive li a{
     color: #f2f2f2;
     text-decoration: none;
    }

    .header .menu_responsive .routes_links_container_responsive li:hover{
        /* background: red; */
    }

    .logo_burger{
        font-size: 2.7rem;
    }

    .burger_activator ~ input:checked ~ .routes_links_container_responsive{
        display: flex;
        /* background: red; */
        height: auto;
        min-height: 30vh;
        /* background: red; */
    }

    .header .menu_responsive .li_route{
        /* background: green; */
        padding: .5rem;
    }
}

.user_name{
    color: #f0f0f0;
    font-weight: bold;
    font-size: 1.2rem;
}

@keyframes menu {
    0%{
        transform: translateX(-100vw);
    }100%{
        transform: translateX(0vw);
    }
}