*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.resetpassword-container{
    position: relative;
    max-width: 800px;
    width: 100%;
    max-height: 550px;
    height: 100%;
    border-radius: 10px;
    padding: 30px;
    margin: 0px, 15px;
    background-color: #2e2e2e;
    box-shadow: 0px 5px 30px rgba(26, 26, 26, 0.808);
}

.resetpassword-container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: rgb(221, 221, 221);
}

.resetpassword-container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 30px;
    border-radius: 8px;
    background: linear-gradient(135deg, #464646, #afafaf);
}

.resetpassword-form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
}

.resetpassword-form .resetpassword-title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 550;
    margin: 6px 0;
    color: rgb(202, 202, 202);
}

.resetpassword-form .resetpassword-fields .resetpassword-input-field{
    margin-top: 20px ;
    display: block;
}

.resetpassword-input-field label{
    /* display: flex;
    justify-content: center; */
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #9e9e9e;
}

.resetpassword-input-field input{
    outline: none;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px  solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.resetpassword-input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.13);
}

.resetpassword-input-field input::placeholder{
    color: #00000070;
}


.resetpassword-container .resetpassword-form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #424242;
    transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.resetpassword-container .resetpassword-form button:hover{
    background-color: #34583f;
    color: #00ff0d;
}

@media screen and (max-width:  1134px) {

    .resetpassword-container{
        margin: 2rem 0 0 0;
    }

    .resetpassword-form{
        width: 100% !important;
    }
    .personal{
        width: 100% !important;
    }

    .resetpassword-fields{
        display: flex;
        flex-direction: column;
    }

    .resetpassword-input-field{
        width: 100% !important;
    }

    .btn{
        margin: 10px auto !important;
    }
    
}

